@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');




/* Color */
/*
#300354 60%
#543003 30%
#12DA84 10%
*/
:root {

/* var(--primaryColor) !important; */
--primaryColor: #300354;

/* var(--secondaryColor) !important; */
--secondaryColor: #543030;

/* var(--accentColor) !important; */
--accentCcolor: #06804B;

/* var(--fontFamily) !important; */
--fontFamily: "Open Sans", serif;
}