/* Color */
/*
#300354 60%
#543003 30%
#12DA84 10%
*/
:root {

/* var(--primaryColor) !important; */
--primaryColor: #300354;

/* var(--secondaryColor) !important; */
--secondaryColor: #543054;

/* var(--accentColor) !important; */
--accenCcolor: #12da84;
}