<footer>
  <!-- Start Footer Row-->
  <div class="container-fluid blinn-footer-container">
    <div class="container"></div>
    <div class="row">
      <div class="col col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <ul>
          <li>link one</li>
          <li>link two</li>
        </ul>
      </div>
      <div class="col col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <ul>
          <li>link one</li>
          <li>link two</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Footer Row-->
</footer>
